[2017-03-22 18:29] felipecsl opened #20 "Fix Travis test failures"
Looks like they cant connect to the emulator. Find a way to work around it or disable tests

[2017-03-22 18:29] felipecsl opened #21 "[Plugin] Add one pull tapes tasks per app/lib flavor"

[2017-03-30 17:33] felipecsl opened #23 "Make NonWritableTapeException more helpful"
Output something nice like VCR:
[code]

[2017-03-30 17:51] felipecsl opened #24 "[Plugin] Add task to clear tapes from device"

[2017-04-26 12:06] jraska opened #26 "Questions: How is this library maintained? ..."
Hello,

I was about to write something similar record/replay for OkHttp and I found your library, which I'm quite happy about, because I don't want to reinvent the wheel and the tool looks great, however I have few questions.

1. Is this something Airbnb uses internally? It is not on GitHub under the Airbnb organization, has many commits and contributions so I'm curious why.
2. Is this maintained

[2017-04-26 17:44] felipecsl commented on #26
Hello Josef, thanks for asking!

1. Yes, we're currently using Walkman internally at Airbnb and it's been working out great for us! It has a lot of commits because it was forked out of https://github.com/betamaxteam/betamax 😄
2. It is currently maintained here, but we're working on moving it to the official Airbnb org and making it more "official". It's still not considered officially Airbnb open

[2017-04-26 17:44] #26 closed

[2017-04-26 17:47] felipecsl commented on #24
This is being done by `ClearTapesTask` now

[2017-04-26 17:47] #24 closed

[2017-04-26 17:57] jraska commented on #26
Sounds good, thank you for answers!

[2017-06-20 21:21] felipecsl opened #34 "Write Javadocs"

[2017-06-22 11:17] lfielke opened #36 "Wrong Maven coordinates and download link in readme"
It looks like the Download section in the readme has a couple of typos.

Looking at http://search.maven.org/#search%7Cga%7C1%7Ccom.airbnb.okreplay I can see these artifacts:
* `noop`
* `junit`
* `espresso`
* `okreplay`
* `gradle-plugin`

In the readme, the link to "Download the latest JAR" points at https://search.maven.org/remote_content?g=com.airbnb.okreplay&a=core&v=LATEST but it appears the ar

[2017-06-22 14:27] felipecsl commented on #36
Thank you, fixed it!

[2017-06-23 03:07] lfielke commented on #36
Thanks for jumping on this so quickly.

I can see the Maven coordinates are fixed, but the download JAR link still 404s for me (it wasn't changed in the pull request).

[2017-06-23 14:43] foxware00 opened #38 "[FR] Remove dependency on Guava"
Is it possibly to remove the dependency on Guava so I don't need to multidex my builds?

[2017-06-23 19:56] felipecsl commented on #36
Hmm the maven coordinates look correct to me now, they were indeed changed on #37.
Did you see the difff?

[2017-06-23 19:56] felipecsl commented on #38
Yes, this was inherited from Betamax, we should definitely remove it!

[2017-06-23 19:57] felipecsl commented on #23
This is already done.

[2017-06-23 19:57] #23 closed

[2017-06-23 22:00] christopherperry opened #39 "WRITE_EXTERNAL_STORAGE Permission on newer devices"
When trying to run the sample tests on my Nexus 6P running Android 7.1.2 I get the following RuntimeException:

This option is already in the `build.gradle` file of the sample.

[2017-06-23 22:10] felipecsl commented on #39
Are you running from the command line or Android Studio?

[2017-06-23 22:15] christopherperry commented on #39
Android Studio, from the test class.

[2017-06-23 22:18] felipecsl commented on #39
Hmm that may be why. Does it work if you run from the command line with `./gradlew connectedAndroidCheck`?

[2017-06-23 22:29] christopherperry opened #41 "Remove Guava Dependency"
The `okreplay` artifact has a dependency on Guava. This has a big impact on method count, and will easily take an app over the limits of single dex. This is something we try to avoid on my team, and makes the library unusable. How many things does okreplay need from Guava? I'm sure you can easily replace these and remove this dependency.

[2017-06-23 22:30] felipecsl commented on #41
Duplicate of #38 and addressed on #40 😄

[2017-06-23 22:30] #41 closed

[2017-06-23 22:39] christopherperry commented on #39
`./gradlew connectedAndroidTest` is able to run the tests; however, the tests fail. Perhaps the `IdlingResource` isn't working correctly?

[2017-06-23 22:53] felipecsl commented on #39
Well that's gonna depend on why it's failing, but that's out of the scope of this issue, it seems.
Regarding the original problem, I think it's expected that running from Android Studio doesn't respect `adbOptions` unfortunately

[2017-06-23 23:28] christopherperry opened #42 "Failed to create the directory for tapes. Is your sdcard directory read-only?"
Getting the message:

on my Nexus 6P, and the Pixel. I tried to debug, the relevant source is in `AndroidTapeRoot.kt`

[code]

In the debugger I'm seeing conflicting info for the directories you are trying to make, and what's being resolved to in the file system while the code runs. Here's a screenshot:

<img width="645" alt="screen shot 2017-06-23 at 4 26 58 pm" src="https://user-images.githubuse

[2017-06-23 23:45] christopherperry commented on #42
My SD card is not read only.

[2017-06-24 11:48] lfielke commented on #36
I can see the diff, but the download link is not changed in it. Just to clarify, I'm talking about the link with text "the latest JAR" that points at https://search.maven.org/remote_content?g=com.airbnb.okreplay&a=core&v=LATEST

This is the one on line 131 of readme.md.

[2017-06-24 17:07] #36 closed

[2017-06-24 17:08] felipecsl commented on #36
Found it, thanks @lfielke!

[2017-06-24 17:28] christopherperry commented on #42
I spent quite a lot of time looking at this yesterday. Even after `root.mkdirs()` the call to `root.exists()` returns `false` and I couldn't figure out why.

[2017-06-24 17:29] felipecsl commented on #42
Very weird. I haven't seen this before, but will try on a physical Pixel device.
Funny that it works fine on Firebase Test lab using their Pixel devices as well.

[2017-06-24 17:53] christopherperry commented on #42
If it helps, I wrote the test in Kotlin:

[code]

[2017-06-26 01:12] cdeange opened #44 "HTTP Message must be set for OkHttp 3.8.0"
`OkHttpResponseAdapter` needs to set the message field to ensure that it is compatible with OkHttp 3.8.0 and later.

From [OkHttp's Changelog](https://github.com/square/okhttp/blob/master/CHANGELOG.md):

Sample stack trace:
[code]

[2017-06-26 02:12] felipecsl commented on #44
Thanks for looking into this and reporting it. It has since been fixed on #40 [here](https://github.com/airbnb/okreplay/pull/40/files#diff-f753ba8e53d2e7b6e1d94228d5ce1b7c)

I'll cut a new release this week with this fix!

[2017-06-26 02:12] #44 closed

[2017-06-26 02:13] #38 closed

[2017-06-26 16:49] christopherperry opened #45 "Publish Sources Jar"
Can you please publish the sources artifact. This makes it easier to debug into the library code.

[2017-06-26 20:09] christopherperry commented on #42
I have an update on this. It seems that you have to run this via gradle, or it doesn't work. I was able to get the sample to work via `./gradlew connectedAndroidTest` which is fine, but that command in our app runs over 700 tests, so I was looking to run only a single test class. The first thing I tried was running the test class from the IDE, which failed with the problem I reported here. I also

[2017-06-26 21:30] christopherperry opened #46 "ConcurrentModificationException"
Here's the stack trace:

[2017-06-27 01:12] felipecsl commented on #45
Well at least for version 1.2.0 the sources seem to be available on Maven Central:
http://repo1.maven.org/maven2/com/airbnb/okreplay/okreplay/1.2.0/

[2017-06-27 01:12] #45 closed

[2017-06-27 01:42] felipecsl commented on #46
Hmm interesting. Are you running tests in parallel or something like that?

[2017-06-27 02:26] felipecsl opened #47 "Auto-publish master snapshot artifacts from Travis"

[2017-06-27 03:52] christopherperry commented on #46
I don't believe that's what triggered this because it happened when I was testing a class with a single test, but we do run our tests in parallel.

[2017-06-27 16:55] #47 closed

[2017-06-27 21:15] christopherperry opened #49 "Push Ok Replay Tapes Gradle Task"
To create certain scenarios it's convenient to first run a test to record a tape, then pull it, modify it, then push it back to the device so it replays the modified tape. Would be great to have a task to push tapes from `resources/tapes` to the device. Or is there some other workflow I'm supposed to be using? It's not exactly clear from the documentation.

[2017-06-27 21:42] felipecsl commented on #49
The tapes are loaded from the instrumentation APK assets folder actually. They are only written to external storage, but for reading, you don't need to push them to the device. Just rebuilding the instrumentation APK should be enough.

[2017-06-27 21:42] #49 closed

[2017-06-27 22:23] christopherperry commented on #49
Can you add this to the README?

[2017-06-27 22:28] felipecsl commented on #49
This has been explained in the [blog post](https://medium.com/airbnb-engineering/writing-fast-deterministic-and-accurate-android-integration-tests-c56811bd14e2):
[code]
Maybe we should add a link to the article in the Readme?

[2017-06-27 22:32] christopherperry commented on #49
Sounds good.

[2017-06-28 00:24] christopherperry opened #50 "OkReplay Annotation is too strict"
It takes an array of `MatchRules`. It should be an array of `MatchRule` so we can pass in custom rules and not one from the default set.

[2017-06-28 00:26] christopherperry commented on #50
I think it's also a good idea to allow the use of multiple tapes, vs just a single tape.

[2017-06-28 02:41] felipecsl commented on #50
FWIW you can set custom match rules via `OkReplayConfig`, but agreed, the annotation is too strict. We can replace it with `MatchRule` instead.

[2017-06-28 02:59] felipecsl commented on #50
Ah, forgot why that's the case: Unfortunately annotation fields have to be compile time constants, that is interfaces are not allowed (https://kotlinlang.org/docs/reference/annotations.html):
[code]
Bummer 😢

[2017-06-28 02:59] #50 closed

[2017-06-28 07:06] christopherperry commented on #50
`classes (Foo::class);` would work given Foo is an implementation of `MatchRule`. This should be doable.

[2017-06-28 17:01] felipecsl commented on #50
I think by "classes", it means the `Class` class, not an instance of any class:
![image](https://user-images.githubusercontent.com/190648/27650080-af699bb4-5be8-11e7-8efd-f99a64fd4f01.png)
![image](https://user-images.githubusercontent.com/190648/27650095-baec2592-5be8-11e7-9898-aa43e5358da5.png)

[2017-07-09 22:17] athkalia commented on #39
It seems to respect the adbOptions for me, as long as you have the permission defined in the AndroidManifest

[2017-07-31 03:54] felipecsl opened #53 "NPE in MatchRules.query"
`URL#getQuery()` may return `null` resulting in an exception inside OkReplay

[2017-07-31 04:10] #20 closed

[2017-07-31 18:27] niranjani23 commented on #39
@athkalia I still see the same issue. Were you able to get the test running from Android Studio?

[2017-07-31 18:32] niranjani23 commented on #39
@felipecsl I see the error: We need WRITE_EXTERNAL_STORAGE permission for OkReplay. Please add `adbOptions { installOptions "-g" }` to your build.gradle file even after adding the adbOptions to the build.gradle. I have a huge test suite and don't want to run ./gradlew connectedAndroidTest which runs the entire test suite and I have been unable to run a single test using the ./gradlew.
Any thoughts

[2017-07-31 21:41] niranjani23 commented on #21
I don't see the push task.

[2017-07-31 22:44] niranjani23 opened #55 "Yaml file was not generated after test run."
I added all the dependencies and annotations as mentioned in the wiki to my espresso test.
Here are the steps I followed to run a single test via command line:
1. Install apk via gradlew:
./gradlew install<Flavor>

2. Install test apk via gradlew:
./gradlew install<Flavor>AndroidTest

3. Run single test via adb:
./adb shell am instrument -w -r -e class com.xxx.Tests#testFunction com.xxx.test/com.x

[2017-08-01 17:29] felipecsl commented on #55
@niranjani23 you need to use gradle in order for the yaml files to be created.
just replace step 3 with `./gradlew connectedCheck`
This will make sure that the OkReplay plugin pull the yaml files from the device before the test finishes.

[2017-08-01 17:29] #55 closed

[2017-08-01 20:20] niranjani23 commented on #55
Running ./gradlew connectedCheck throws StackOverflowError for me. I even tried using the multidex dependencies but in vain. Any other way to trigger the OkReplay plugin?

[2017-08-01 20:26] felipecsl commented on #55
you can manually pull the tapes by running `./gradlew pullOkReplayTapes`. Does that work?

[2017-08-01 20:46] niranjani23 commented on #55
Just to clarify: I can run the above 3 steps and then manually run the ./gradlew pullOkReplayTapes ?
I did the above but I only notice that the assets folder is being created with an empty tapes folder. I don't see the yaml files.

[2017-08-01 20:52] felipecsl commented on #55
this could mean that no tape files were created then. You can confirm by running `adb shell`
and cd'ing into `/sdcard/okreplay/tapes` to see if the directory exists or if there's anything in there.
are you running with `TapeMode.READ_WRITE` or `WRITE_ONLY`? Otherwise nothing will be written

[2017-08-01 20:54] felipecsl commented on #21
The push task has since been removed. There is only `pullOkReplayTapes` and `clearOkReplayTapes`

[2017-08-01 20:58] niranjani23 commented on #55
After cd'ing into /sdcard/okreplay/tapes, I do notice that the directory exists but don't see any tape files.
I do have TapeMode.READ_WRITE only. Would running ./gradlew connectedAndroidTest instead of ./gradlew connectedCheck trigger OkReplay plugin to generate the tape files?

[2017-08-01 21:05] felipecsl commented on #55
`connectedCheck` should trigger `connectedAndroidTest`, so it doesn't matter which one you run.
I'd recommend looking at logcat to see what's going on. You should see logs like:
[code]
and
[code]
Also try debugging and putting a breakpoint on `OkReplayInterceptor` to see if it's being invoked at all

[2017-08-01 21:42] niranjani23 commented on #55
I do see the I/RecorderRule: found @OkReplay annotation on 'methodName(com.example.TestClassName)' but I don't see the OkReplayInterceptor being triggered.

[2017-08-01 21:44] felipecsl commented on #55
yeah so most likely your interceptor is not set up correctly.
make sure that the interceptor instance that you passed to the `OkReplayConfig.Builder` is the same that you added to the `OkHttpClient.Builder`

[2017-08-16 10:48] athkalia commented on #39
I'll give it another bash over the weekend and update here

[2017-08-17 11:54] adelnizamutdinov opened #56 "Сan't find UTF-8 charset"
https://github.com/airbnb/okreplay/blob/bb43d398db8b2759c588079ced680592752edf7f/okreplay-core/src/main/java/okreplay/AbstractMessage.java#L46-L52

[code]

[code]

Ok, so apparently this is what happens: `Charset.forName("java.nio.charset.CharsetICU[UTF-8]")`, which is definitely not what you want.
It happens because of the `toString` here:

https://github.com/airbnb/okreplay/blob/bb43d398db8b2759

[2017-08-17 13:14] adelnizamutdinov commented on #56
basically, what happens is:

[code]

how do you guys use this?

[2017-08-17 15:14] adelnizamutdinov commented on #21
for some reason pulling doesn't work for me at all =/

[2017-08-17 16:16] felipecsl commented on #21
@adelnizamutdinov did you see the task running? maybe try running gradle with `--info` to see if there are any errors

[2017-08-20 17:11] athkalia commented on #39
indeed I've tried it once more and it doesn't seem to work, sorry

[2017-08-20 17:11] athkalia commented on #39
Setup is here btw if you want to experiment a bit
https://github.com/athkalia/Just-Another-Android-App

[2017-08-21 17:06] felipecsl commented on #39
I've been running usually on API25 emulators with no problems. Are you running on physical devices?

[2017-09-12 23:42] felipecsl commented on #56
I don't know why I closed this, can't remember doing that either, but it does sounds like an actual bug.

[2017-09-20 10:45] slavasav commented on #56
Same issue with API 23 simulator. Works on API 25 though.

[2017-09-26 09:58] slavasav opened #58 "Gradle plugin 1.3.0 NoSuchElement exception"
Trace: * Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':app'.
	at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvaluator.java:94)
	at org.gradle.configuration.project.LifecycleProjectEvaluator.notifyAfterEvaluate(LifecycleProjectEvaluator.java:89)
	at org.gradle.configuration.project.Lifecyc

[2017-09-26 10:01] slavasav commented on #58
Apparently this line is guilty
https://github.com/airbnb/okreplay/blob/bdc4e30d770604201168f6772042528d553b97b9/okreplay-gradle-plugin/src/main/kotlin/okreplay/OkReplayPlugin.kt#L99

[2017-09-26 17:33] felipecsl commented on #58
@slavasav are you referring to the android gradle plugin 3.0.0 beta?

[2017-09-26 17:34] felipecsl commented on #58
oh nevermind i see you're using v2.3.3

[2017-10-13 19:56] nuxusr commented on #56
@felipecsl - I think you were ok with closing it. It was resolved for me in that commit bdc4e30 by returning the Charset and not doing the .toString().

When is the next release? I don't see it fixed in 1.4.0-SNAPSHOT

[2017-10-14 08:52] felipecsl commented on #56
`1.4.0-SNAPSHOT` should be [live](https://oss.sonatype.org/content/repositories/snapshots/com/airbnb/okreplay/) including the changes in https://github.com/airbnb/okreplay/commit/bdc4e30d770604201168f6772042528d553b97b9 now.
It's also been updated for support to the new Android Gradle Plugin v3.0 rc1.
Please let me know if you see any issues!

[2017-10-14 08:52] #56 closed

[2017-11-21 09:05] islamfarid commented on #56
hello, i tried to put 1.4.0-SNAPSHOT instead of 1.3.0 but gradle told me couldn't find 1.4.0-SNAPSHOT so should i take the .aar from okreplay open source code or you have the complete dependencies of okreplay 1.4.0-SNAPSHOT ... please help me as i found the same exception and i want to use this library

[2017-11-22 17:15] tmtrademarked opened #60 "Allow support for scrubbing sensitive data from tapes"
We're using OkReplay to write UI tests, and it's been working well for us so far! But one problem we've had with the library is that the generated tapes sometimes contain sensitive information like passwords/tokens/etc which we would prefer not to check in.

One solution that feels reasonable would be to allow us to create a TapeRoot which implements a Reader/Writer that knows how to replace sensi

[2017-11-24 00:46] felipecsl commented on #56
@islamfarid you can find the SNAPSHOT [here](https://oss.sonatype.org/content/repositories/snapshots/com/airbnb/okreplay/espresso/1.4.0-SNAPSHOT/)
in order to use it, you have to add `maven { url 'https://oss.sonatype.org/content/repositories/snapshots' }` to your gradle repositories setup

[2017-11-24 00:48] felipecsl commented on #60
Great point! I think it would make sense to make `AndroidTapeRoot` non-final if that would resolve your immediate issue. I'll send a quick PR

[2017-11-27 17:10] premnirmal commented on #58
@felipecsl I am getting this error on gradle plugin 3.0.0

[2017-11-28 09:07] felipecsl commented on #58
Fixed by #62

[2017-11-28 09:07] #58 closed

[2017-12-13 00:52] malachid commented on #39
Confirmed that I ran into the same problem trying to run a test against the LG v20 from A.S.

[2017-12-13 15:54] malachid commented on #39
I was able to get past the permission problem by using the GrantPermissionRule.
[code]

[2017-12-13 16:06] malachid commented on #42
I still received the error message with cDAT from the command line.

[2017-12-13 16:27] malachid commented on #42
`root.mkdirs()` is returning false indicating that it failed to create the directory; but AndroidTapeRoot is not checking the return value.

[2017-12-13 17:07] malachid commented on #42
After reviewing https://developer.android.com/guide/topics/data/data-storage.html#filesExternal I did some testing.
Using `System.getenv` or `Environment.getExternalStorageDirectory`, it attempts to write to `/sdcard/okreplay/tapes/<packagename>/<type>` and fails, though /sdcard/ does exist.

Using `context.getExternalFilesDir(null)` is succesfully creates a directory on the sdcard under the packa

[2017-12-13 17:49] malachid opened #64 "IllegalArgumentException: TapeRoot needs to be an instance of AndroidTapeRoot"
If you use the `.tapeRoot(file)` builder, it constructs a `DefaultTapeRoot`, which in turn causes `PermissionRule` to fail as it only allows `AndroidTapeRoot` parameters.

[2017-12-13 18:01] malachid commented on #64
This is due to the OkReplayRuleChain.  You can workaround the issue by doing it manually:
[code]

[2017-12-13 18:10] malachid commented on #42
I did a test using a replacement for AndroidTapeRoot (workaround to allow that here https://github.com/airbnb/okreplay/issues/64 ) and this successfully started writing files:

[code]

[2017-12-13 19:22] malachid opened #65 "@Before tapes"
Our current tests put the app into a starting state during the @Before phase.  It would be nice if that could be saved in it's own tape.  Currently, a no-op @Test results in 1.2mb yaml which is mostly duplicated between all the other tests.

[2018-01-17 09:01] slavasav opened #66 "Problems running okreplay gradle plugin with Android Studio 3.1"
Having problems running the Android Studio 3.1 Canary 7 and 8 build. So gradle version is 4.4, gradle plugin is com.android.tools.build:gradle:3.1.0-alpha07.
If running with "apply plugin: 'okreplay" the gradle configuration stage gets stuck on connecting to adb (even if no simulator or devices are running), the log prints this in an eternal loop:

[DeviceMonitor]: Unable to open connection to: lo

[2018-02-07 15:58] tmtrademarked opened #69 "READ_ONLY mode is actually not read-only"
We found a strange failure in one of our tests recently. For some reason, our test failed when trying to connect to a server. That's unexpected, because the test was running in TapeMode READ_ONLY.

It turns out with the current implementation of OkReplayInterceptor, a read-only tape will *still* make the server call if a match is not found on a particular tape. This is bad, because it introduces f

[2018-02-18 02:29] felipecsl commented on #69
Closed by #68

[2018-02-18 02:29] #69 closed

[2018-02-19 15:29] scottyab commented on #39
I'm unable to get past the permissions issue with the `GrantPermissionRule`. I couldn't use the  ` @ClassRule` as the compiler complained about it not being static 😞

[code]

[2018-02-19 19:09] malachid commented on #39
@scottyab did you put that in a companion object?

[2018-03-01 18:44] tmtrademarked commented on #69
Awesome - thanks, @felipecsl ! Is this available in a snapshot or a new release yet?

[2018-03-08 20:35] felipecsl commented on #69
Yes, 1.5.0-SNAPSHOT is available now!

[2018-03-09 12:03] slavasav commented on #66
This was my problem with adb, the ipv4 loopback has not been present in localhosts, only the ipv6.

[2018-03-09 12:03] #66 closed

[2018-03-09 13:32] slavasav commented on #46
I am experiencing the same issue, just 2 tests, one after the other.

[2018-03-20 19:48] colintheshots opened #70 "Cannot pull tapes due to wrong package directory"
It seems that the pull and clear tapes Gradle tasks in the most recent version are looking for /sdcard/okreplay/tapes/com.domain.app.test, but the actual tapes are in /sdcard/okreplay/tapes/com.domain.app. This means they don't accomplish anything.

[2018-03-20 21:03] colintheshots commented on #70
I think I figured it out. It's the difference between InstrumentationRegistry.getContext() and InstrumentationRegistry.getTargetContext().

[2018-03-20 21:03] #70 closed

[2018-03-21 22:35] colintheshots opened #71 "Support for custom match rules"
Sometimes the default match rules just aren't enough. There should be support for setting custom match rules. For example, some queries have time information in them, which would need to be stripped before comparing bodies. I'll see if I can get a pull request started perhaps.

[2018-03-21 22:39] colintheshots commented on #71
I think I figured out a way to accomplish this by setting the defaultMatchRule in the OkReplayConfig, but not per annotation.

[2018-03-25 16:53] jd-alexander opened #72 "Java library"
Can this project be utilized in a Java library? The API seems heavily Android-based.

[2018-03-25 17:47] felipecsl commented on #72
It can, you can crab just the `okreplay-junit` module, it should work fine.

[2018-03-25 17:47] #72 closed

[2018-03-25 17:50] jd-alexander commented on #72
Okay understood. So I would have to make the `RecorderRule` public and then create that rule within  JUnit before the @OkReplay annotation would chip in right? Also how do I create a Tape?

[2018-03-29 06:34] qiixiao commented on #66
@slavasav How do you fix it?

[2018-03-29 07:02] slavasav commented on #66
I replaced this:
`::1             localhost`
in /etc/hosts with this:
`127.0.0.1 localhost`

[2018-03-29 07:02] qiixiao commented on #66
@slavasav me to, My mistake

[2018-04-10 07:00] Tapchicoma commented on #65
As temporary workaround you can use `RecoderRule` directly in another `TestRule`, something like this, using "login" tape:
[code]

[2018-04-10 08:06] Tapchicoma commented on #69
Really would love to have a next release with this feature, using `SNAPSHOT` version on main branch is not a best practice :(

[2018-05-04 15:48] colintheshots opened #73 "Sequential request matching with rules"
It seems like it should be possible to write a sequential replay test where I can match rules, but record multiple interactions per rule set. This would help by not enforcing strict ordering of requests, but would allow repeated queries to an endpoint with differing responses each time.

It seems like the best behavior for this type of test would be to record rules to tape as long as READ_WRITE is

[2018-05-09 13:01] KonstantinKochetov opened #75 "Replace data in yaml file with fake data in @Before setUp() method"
Hi there. We usually replace data in yaml file with fake data and it works perfectly if it is in the tests. Okreplay records tape with real request/response and we just replace it afterwards with fake data and use it in READ_ONLY mode.
In the test we just type fakeuser/fakepassword and everything works fine.

But when we do the same thing in the setUp() method with annotation @Before (for example,

[2018-05-09 13:34] #75 closed

[2018-05-16 04:53] #21 closed

[2018-05-22 14:58] slott opened #78 "Work together with RoboElectric"
Hi there,

Seems its not possible to get this to play nicely with RoboElectric - or am I missing something ?

It would be quite EPIC if RoboElectric and okreplay could work together - making even faster and better tests.

[2018-05-23 21:05] slott commented on #78
Trying now to get a basic example working with Espresso... And here you state the following

      .tapeRoot(new AndroidTapeRoot(getContext(), getClass()))

And where exactly is the context suppose to come from ?

It would be very helpful if you could look through your howto and make it work.

[2018-05-24 08:03] slott commented on #78
Right - so finally figured out where the context was coming from

InstrumentationRegistry.getContext

so now everything _should_ work - but it doesn't.

The OkReplayInterceptor isn't _running_. I can see that I need to call .start - but why isn't there a full example of all this ?

[2018-05-24 19:44] slott commented on #60
@tmtrademarked did you manage to get something working in terms of scrubbing the tapes ?
I'm in the exact same boat that you were in - and it would be nice if I didn't have to start from scratch.

[2018-05-24 20:01] tmtrademarked commented on #60
Yes, I did - although it's not necessarily the most generic solution. I'm
out of the office until next week, but I'll try to at least post something
here then until I can get a pull request put together.

On Thu, May 24, 2018, 3:44 PM Morten Slott Hansen <notifications@github.com>
wrote:

[2018-05-28 11:50] krpiotrek opened #79 "Make Optional public"
Hi,
I'm using a custom `RecorderRule` which extends `Recorder` and implements `TestRule`. This is a nice, convenient way to provide some test setup/cleanup without code repetition. The problem is that `Recorder` method `public void start(String tapeName, Optional<TapeMode> mode, Optional<MatchRule> matchRule)` uses `Optional` - which is package private so this method cannot be called. Is there a r

[2018-05-28 16:26] felipecsl commented on #79
I think the way to go would be to move this class to Kotlin, as its adoption has been growing very quickly on Android, I don't see a reason why we shouldn't move it now.

[2018-05-29 11:55] krpiotrek commented on #79
To make sure, you mean removing `Optional` class and using Kotlin nullability f.e `MatchRule?` or reimplementing `Optional` to Kotlin and making it public?

[2018-05-31 18:23] UnnikrishnanBhargavakurup commented on #66
Still not connecting getting the following message

[code]

[2018-06-18 10:16] krpiotrek commented on #73
Hi @colintheshots, have you been working on that?

[2018-07-05 14:01] balachandarlinks commented on #46
I am facing the same issue as well when running a single test or multiple tests. Did you guys figure out any reason?

[2018-07-05 15:03] balachandarlinks commented on #46
I have observed that it fails only when I record more than one test cases under the same instrumentation instance. If I enabled androidTestOrchestrator and record each test case under a new instrumentation instance then I don't get the exception anymore.

[2018-08-08 06:16] elye opened #80 "Can OkReplay works with Protocol Buffer?"
I have just looked into OkReplay, which is cool for normal JSon Response in the body. I wonder if it is possible to work with Google's Protocol Buffer?

[2018-08-12 17:38] jraska commented on #73
Hi, I had the same issue and I implemented some workaround with adding some extra query parameter for ok replay to record the requests separately, but not enforcing strict ordering of other requests.

Check here: https://github.com/jraska/github-client/blob/master/client/src/androidTest/java/com/jraska/github/client/http/CustomOkReplayInterceptor.kt

One interceptor adds the parameter before `OkRe

[2018-10-31 17:51] AlaaOsta commented on #44
There is still an issue when calling an error thru the Retrofit2 Response static method, you need to set the message to empty as well

`  public static <T> Response<T> error(int code, ResponseBody body) {
    if (code < 400) throw new IllegalArgumentException("code < 400: " + code);
    return error(body, new okhttp3.Response.Builder() //
        .code(code)
        .protocol(Protocol.HTTP_1_1)

[2018-11-01 11:59] slott opened #84 "Make it work with androidx"
This needs to get up to speed so we can use the new androidx framework... androidx.test.espresso.intent.rule

[2019-02-04 22:14] mallocanswer opened #85 "Build issue with customized okreplay"
My app doesn't use okhttp in the network layer so I have to copy the okreplay implementation into my project and make some modifications. Now the app fails to compile because yaml has dependency on `java.beans.IntrospectionException` but Android didn't package that class into release (https://stackoverflow.com/questions/5488236/is-there-a-work-around-for-the-android-error-unable-to-resolve-virtual

[2019-02-04 22:21] mallocanswer commented on #85
I didn't get the compile error if I directly import `okreplay`. Wondering if anything I can do to avoid this error.
Note: I have to copy the okreplay project over since my app has different network stack and I need to tailor few classes

[2019-02-06 18:02] #84 closed

[2019-02-09 03:37] tmtrademarked opened #87 "Possible to get a new release cut?"
It looks like there's some new work going into this library, which is great to see. But I wanted to see if we could get a timeline from the maintainers on a possible release. Continuing to depend on a snapshot version is no longer tenable for us, and we'd like to use a stable version if possible. If there are no plans for a release any time soon, it would be nice to know that so we can evaluate ou

[2019-02-09 23:36] felipecsl commented on #87
Thanks for your kind feedback! I think we can probably get a new version out since it's been over an year since v1.4.0 has been released and we got a handful of changes since then.
I can prepare a v1.5.0, @rossbacher sounds good to you?

[2019-03-01 19:43] shareme commented on #87
make sure it works under 5.2.1 gradle as current version does not

[2019-03-07 14:26] ptrudec opened #88 "Multiple flavours wrong pull directory"
I have two flavours of app: main and chain. Main has applicationId = "com.domain.app" and Chain has applicationId = "com.domain.app.chain" . When i try to pull tapes it pulls from /sdcard/okreplay/tapes/com.domain.app.chain.test/ and when i comment Chain flavour in gradle it pulls from /sdcard/okreplay/tapes/com.domain.app.test/ like it should be. Also folder on sd card is named com.domain.app.cha

[2019-04-14 18:52] psousa50 commented on #66
I'm having the same exact problem as @UnnikrishnanBhargavakurup . Any news on this?

[2019-04-26 19:10] pilho1 commented on #46
Setup:
- Orchestrator enabled
- Single UI test

Observations:
RECORDING PHASE (TapeModes: `READ_WRITE` ,`WRITE_SEQUENTIAL`, `WRITE_ONLY`)
- Takes about 2-3 minutes for that single test to start recording
- Tapes recording fail with `ConcurrentModificationException` occasionally while for _others_ they fail most of the time

TESTING PHASE (TapeModes: `READ_WRITE`)
- Takes about 2-3 minutes for that

[2019-05-13 18:23] valeraz opened #89 "NoSuchMethodError (GlobalScope.getAndroidBuilder) with android gradle plugin 3.5.0-beta01"
Upon switching to 'com.android.tools.build:gradle:3.5.0-beta01' & `gradle-5.4-rc-1-all.zip`, gradle config fails in our project with the error below.

Culprit is okreplay plugin (we are on the latest 1.4 version)

relevant snippet:
[code]

full stack trace:
[code]

[2019-05-16 06:41] felipecsl commented on #89
API change in the Android Gradle plugin :) I'll take a look into this, thanks for reporting!

[2019-05-30 23:10] mmdango commented on #89
hi @felipecsl! any chance we could try getting this work for AGP 3.5.0-beta03? We're trying to use this version of AGP to get chrome traces.

[2019-05-30 23:12] felipecsl commented on #89
hey mike, for sure! I'll give it another try!
the main issue here is that I dont think they release the sources for AGP until it becomes stable, so it's hard to debug but I'll give it a shot

[2019-05-31 21:16] mmdango commented on #89
Ah good point, no pressure then. Thanks!

[2019-06-14 15:39] jschear opened #91 "Gradle plugin checks for connected devices at configuration time"
Hi! I've noticed that when gradle is configuring my `app` project (which has the OkReplay gradle plugin applied), I see this output in the console if I don't have any android devices connected:

[code]
(We have three build variants.)

I think what's happening is that when the OkReplay tasks are setup, a `DeviceBridge` [is created](https://github.com/airbnb/okreplay/blob/master/okreplay-gradle-plug

[2019-06-19 11:21] quiqua commented on #72
If I don't use JUnit for testing but Spek instead  (https://github.com/spekframework/spek/) - is there a core API I can use without all the Rule things JUnit brings?

Basically I want to:
- add the intercepter
- in a before block tell the intercepter to record / replay

[2019-06-24 23:44] ducrohet commented on #89
To fix this you need to change the 2 lines at [OkReplayPlugin:66-67](https://github.com/airbnb/okreplay/blob/master/okreplay-gradle-plugin/src/main/kotlin/okreplay/OkReplayPlugin.kt#L66):

[code]

with the following:

[code]

[2019-06-27 15:30] pestrada commented on #87
Any news on 1.5.0 ?

[2019-08-28 23:13] anoopc1 commented on #89
hi @felipecsl,
Friendly reminder (now that AGP 3.5 is officially released).

[2019-08-29 15:48] tmtrademarked commented on #87
Just wanted to follow up here to see if there was any traction on getting a 1.5.0 release. If the issue is technical maintenance, would it be possible to post a list somewhere of the blockers? It's possible those of us who use this library could help resolve some of the issues if we had visibility into what needs doing.

[2019-09-03 02:50] felipecsl commented on #87
we can do it after #92 is merged

[2019-09-03 22:39] #89 closed

[2019-09-05 05:17] felipecsl commented on #87
Version 1.5.0 has been released for da2789cc6590a716c469ccee3a801b83802f22a3

[2019-09-05 05:17] #87 closed

[2019-09-06 10:27] technoir42 opened #95 "Cannot use plugin 1.5.0 with AGP 3.4"
We currently use AGP 3.4.2 and cannot update to 3.5.0 because DexGuard doesn't support it yet.
When we apply OkReplay 1.5.0 it pulls AGP 3.5.0 since that's an implementation dependency of OkReplay plugin and our build fails with a message like:
[code]
To avoid this I think we should change AGP dependency from `implementation` to `compileOnly`. I'm working on a fix right now.

[2019-09-06 17:13] #95 closed

[2019-10-02 20:05] veyndan commented on #79
@felipecsl Do you have a response to @krpiotrek question? I am also developing a custom recorder that extends `Recorder`, but I am fairly limited by `Optional` not being public. Personally I'd prefer to just convert the classes depending on `Optional` to Kotlin and using the nullability `?` where appropriate. I'd be happy to work on this, but just want some clarification beforehand.

[2019-10-02 20:07] felipecsl commented on #79
I mean removing `Optional` and relying on Kotlin nullability instead. @veyndan please feel free to send a pull request for that!

[2019-10-02 23:18] #79 closed

[2019-11-15 15:08] technoir42 commented on #46
`ConcurrentModificationException` can be thrown because your app is still making network requests after UI test has finished executing. You can work around it by using an Espresso idling resource for OkHttp like [this one](https://github.com/JakeWharton/okhttp-idling-resource) or your own.

[2020-01-20 15:07] slott commented on #88
I can recall this worked prior to version 1.5 - so for now I'm having a custom task to pull the tapes...

[2020-01-20 15:59] slott commented on #88
Here is a little bash script that will do the work

#!/bin/bash
TAPE_PATH=/sdcard/okreplay/tapes/<applicationId>

CURRENT_DIR=`pwd`
echo $CURRENT_DIR
# This is where we want the tapes to be dumped
cd "app/src/androidTest/assets/tapes"
for d in `adb shell ls ${TAPE_PATH}`; do
    adb pull ${TAPE_PATH}/${d}
done
cd $CURRENT_DIR

[2020-01-23 16:47] #88 closed

[2020-01-23 18:05] technoir42 commented on #91
Should be fixed by #99

[2020-01-27 17:20] rossbacher commented on #91
Fixed bu #99

[2020-01-27 17:20] #91 closed

[2020-02-20 13:33] dmykhailenko opened #101 "To make OkReplayInterceptor open again."
Hello,
In the version 1.5.0 you moved OkReplayInterceptor class to Kotlin and now it's not possible to extend it. Since OkReplayConfig.Builder().interceptor() method accepts only OkReplayInterceptor type it's no longer possible to supply customized interceptor to it.
Please consider making OkReplayInterceptor class open.
Thank you.

[2020-03-13 11:59] gavra0 opened #102 "ConnectedDeviceProvider should be closed after use"
Original issue on AGP issue tracker: https://issuetracker.google.com/123032839

When using `ConnectedDeviceProvider` and after `init()` is invoked and performing some processing, it is expected that `terminate()` should be invoked in order to release the lock.

Looking at [`DeviceBridge`](https://github.com/airbnb/okreplay/blob/b522711d92456f48b5ea15b456177be63126126b/okreplay-gradle-plugin/src/ma

[2020-03-13 23:10] tmtrademarked opened #103 "Update to latest espresso?"
Hey there! We're trying to update our app to use Espresso 3.2, and it seems like OkReplay currently blocks this upgrade because the dependency on Espresso is strict. Possibly this is due to okreplay-espresso using an API dependency on espresso:3.1.0.

Is there any chance this library can be updated to use a more modern espresso, or at least to not prohibit such? I'm not sure how much work that wou

[2020-03-14 16:44] felipecsl commented on #103
absolutely, i don't see any reasons why we wouldn't be able to bump the espresso depedency

[2020-03-23 21:37] #102 closed

[2020-03-24 06:05] chaitanyazooms commented on #80
I am seeing a issue with the base64 is used to encode and save the protocol buffer coming from network. The base 64 encoding is corrupting the proto.

[2020-06-12 20:18] jschear opened #106 "Tasks fail in a project using version 4.0.0 of the Android Gradle Plugin"
After upgrading to AGP 4.0.0, our `clear<variant>OkReplayTapes` task is failing with a `NoClassDefFoundError`. It looks like `ConnectedDeviceProvider` was moved to the `com.android.build.gradle.internal.testing` package.

I tried upgrading the AGP dependency in OkReplay, but it's going to take a bit of work -- it requires Gradle 6.1.1 at a minimum, but https://github.com/groovy/groovy-android-grad

[2020-07-16 19:17] stopdrake commented on #106
Hey @jschear. We are facing this same problem after upgrading to AGP 4.0.0 . Were you able to solve this or have a workaround?

[2020-07-16 19:22] jschear commented on #106
Unfortunately I haven't -- I actually stopped using OkReplay for separate reasons soon after this issue popped up. I think I have a pretty good idea of what needs to be done to fix this issue, though (adopting the `BaseExtension#deviceProviders` API), and I may have some time this weekend to work on a PR.

[2020-09-11 14:38] jschear commented on #106
I think I was wrong about moving to the `BaseExtension#deviceProviders` being a solution -- that function returns an empty list when I test locally, and it appears to be an extension point for adding other, custom `DeviceProvider`s.

I see a few ways forward here:
- Do some sort of reflection to load the `DeviceProvider` class from the correct package depending on the version of AGP that's on the

[2020-10-27 03:12] adk commented on #103
Hello @rossbacher, are there any updates on this issue? Is this project still being maintained?

[2020-11-20 09:30] radityagumay commented on #103
@felipecsl hi any updates on this?

[2021-01-04 21:00] rajab57 commented on #106
Is this issue resolved ? I am encountering similar issue.
I am exploring okreplay to use in my project at this point.

[2021-01-06 06:23] stopdrake commented on #106
For anyone who might want to use OKReplay in there project with AGP >= 4.0 I followed @jschear steps but instead of fixing the `okreplay-tests` for reasons mentioned by him I removed that module from settings.gradle while building.

Please note this is not an official solution and something I did to get it working in my project.
You can find the gist here - https://gist.github.com/stopdrake/0e6607

[2021-01-19 13:34] mfekim commented on #106
Like @rajab57, I would like to use OkReplay, but it's not working with AGP >= 4.0 :(

The @stopdrake's solution seems to work but it would be nice if you can fix it

[2021-06-24 06:12] Ericliu001 opened #109 "Cannot build project"
[code]

[2021-06-30 14:30] veyndan commented on #109
The fix for this exists in https://github.com/airbnb/okreplay/pull/107. The PR has been open since November 2020, so it seems like this project has been abandoned 😞

[2021-06-30 15:53] rossbacher commented on #109
It is not abandoned, we just don't really use it anymore. I just merged that PR and I'll see if I can get some maintenance work into today to get it updated to latest everything.

[2021-06-30 15:53] #109 closed

[2021-09-17 13:34] NoNews opened #112 "Requests indexation"
Hi, firstly, thank you so much for a good library!

OkReplay covers all our needs, but there is one more feature which could be useful: Request indexation.

For instance, we have `request a`, which we execute and record.
During the test run, we may have the the same `request a`, which returns other response, but all requests params are the same.

In that case, looks like, it wouldn't be recorded,

[2021-11-18 23:51] eric-sofisoftwarellc opened #113 "Cannot query the value of property 'applicationId'"
[code]

All I did was add
`        classpath 'com.airbnb.okreplay:gradle-plugin:1.5.0'`
and
`        apply plugin: 'okreplay'`
to build.gradle. AS 2020.3.1 patch 3, com.android.tools.build:gradle:7.0.3.

[2022-01-25 04:24] KatieBarnett commented on #106
The above workaround seems to have stopped working, I now get this error:

[code]

I am using the following versions:
OkReplay: 1.6.0 (both workaround, and official version)
AGP: 7.1.0-alpha05
AndroidX Test: 1.4.0
Espresso: 3.4.0

[2022-01-25 04:26] KatieBarnett commented on #113
I got this error as well, upgrading to AGP to 7.1.0-alpha05 fixed it (although I have other issues with OkReplay not working)

[2022-01-25 04:26] KatieBarnett commented on #101
+1 to this.

[2022-03-14 23:32] KatieBarnett commented on #106
I have also tried the above and get the same error with:
OkReplay: 1.6.0 (both workaround, and official version)
AGP: 7.1.2
AndroidX Test: 1.4.0
Espresso: 3.4.0

Please fix this as it is holding our project up from upgrading the gradle plugin.